<header [class.sticky]="isSticky">
  <div class="logo">
    <a routerLink="/inicio"><i class="fas fa-mug-hot">UpsCoffee</i></a>
  </div>

 @if (!this.MenuOpen) {
  <i class="bi bi-list menu-icon hamburguesa" (click)="toggleMenu()"></i>
 } @else {
  <i style="color: white;" class="bi bi-list menu-icon hamburguesa" (click)="toggleMenu()"></i>
 }
  <nav [ngClass]="{ 'active': MenuOpen }">
    <ul class="nav-list">
      <li><a routerLink="/productos">
        <i class="icono"> Menu</i>
      </a></li>
      <li><a routerLink="/conocenos"><i class="icono">Nosotros</i></a></li>
      <li><a routerLink="/carrito"><i class="bi bi-cart2 icono iconocarro"><span class="numerito">{{ cantidadProductos$ | async }}</span></i></a>
      </li>
    </ul>
  </nav>
</header>


<div @fadeAnimation>
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="footer-container">
    <div class="social-media">
      <a class="social-icon" aria-label="Facebook">
        <i class="bi bi-facebook"></i>
      </a>
      <a class="social-icon" aria-label="Instagram">
        <i class="bi bi-instagram"></i>
      </a>
      <a class="social-icon" aria-label="Twitter">
        <i class="bi bi-twitter"></i>
      </a>
      <a class="social-icon" aria-label="LinkedIn">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>
    <div class="newsletter">
      <h3>Noticias y Promociones</h3>
      <form>
        <input type="email" name="email" placeholder="Tu correo electrónico" required>
        <button type="submit">Suscribirse</button>
      </form>
    </div>
  </div>
  <p>© 2025 UpsCoffee. Todos los derechos reservados.</p>
</footer>

