.banner {
  height: 58vh;
  width: 100%;
  background: url('/UpsCoffee/nosotros.png') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.eleccion {
  padding: 70px 25%;
  text-align: justify;
}


.img-custom {
  max-width: 100%;
  height: auto;

  object-fit: contain;
  margin: 0;
  padding: 0;
}
.row-full-height {
  height: 100vh;
}

.col-md-6 {
  height: auto;
  max-height: fit-content;
  width: 50%;
  margin-top: 0 ;
  margin-bottom: 0;
padding-top: 0;
padding-bottom: 0;

  overflow: hidden; /* Esconde cualquier contenido que sobrepase el tamaño del contenedor */
}

@media screen and (max-width:700px) {
  .banner{
    background-size: contain;
    height: 30vh;
  }

  .eleccion {
    padding: 10px 2%;
    text-align: justify;
  }

  .col-md-6{

      width: 100%;
    }


}
